body {
  background-color: lightBlue;
}

h1{
  font-family: 'Amatic SC';
  font-size: 85px;
  color: MidnightBlue;
  letter-spacing: 2.8px;
  text-shadow: 3px 2px white;
  text-align: center;
}

img{

  width: 400px;
  height: 300px;
  border-radius: 8px;
  padding: 5px;
}
